    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="navbar-text ">
                        Welcome <a href="#">{{username | uppercase}}</a> To Crossover Video Player
                    </h4>
                </div>
                <div class="col-md-6">
                    <a href="#" class="navbar-link">
                        <div class="" ng-controller="LoginController as loginCtrl">
                            <button type="button" class="btn btn-danger pull-right" style="margin-top: 1%;" ng-click="logout()" name="button">Logout</button>
                        </div>
                    </a>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </nav>