<div ng-init="gettingVideos()" ng-controller="DashboardController as dashboardCrtl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="navbar-text ">
                        Welcome <a href="#">{{username | uppercase}}</a> To Crossover Video Player
                    </h4>
                </div>
                <div class="col-md-6">
                    <a href="#" class="navbar-link">
                        <div class="" ng-controller="LoginController as loginCtrl">
                            <button type="button" class="btn btn-danger pull-right" style="margin-top: 1%;" ng-click="logout()" name="button">Logout</button>
                        </div>
                    </a>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" ng-controller="VideoController as videoController">
        <div class="row">
            <div class="col-md-4" ng-repeat="video in videos.data track by $index" style=" margin: 0px;">
                <a href="#"   ng-click="getVideo($event)">{{ video.name }}</a>
                <video id="{{video._id}}" style="cursor: pointer" value="{{video._id}}" class="video-js" ng-click="getVideo($event)" controls preload="auto" width="640" height="264"
                       poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
                    <source src="{{video.url}}" type="video/mp4">
                    <source src="{{video.url | webm}}" type="video/webm">
                </video>
                <div ng-init="rating = star.rating +1"></div>
                <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                <p>{{ video.description | limitTo: 100 }}{{ video.description.length > 20 ? '...':''}}</p>
            </div>

        </div>
    </div>

    <div class="row" style="text-align: center">
        <div class="col-md-4">
            <button>Load More..</button>
        </div>

    </div>
</div>


