<div class="" ng-controller="DashboardController as dashCtrl">
  <div class="" ng-controller="LoginController as loginCtrl">
    <button type="button" ng-click="logout()" name="button">Logut</button>
  </div>
  <div class="" style="padding:5%;" ng-repeat="video in videos.data">
    <h3>{{video._id}}</h3>
    <button type="button" ng-click="getVideo(video._id)" name="button"></button>
    <!-- <video id="my-video" class="video-js" ng-click="getVideo('fds')" controls preload="auto" width="640" height="264"
    poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
      <source src="/client/videos/Getting_Started_With_React.mp4" type="video/mp4">
      <source src="/client/videos/Getting_Started_With_React.webm" type="video/webm">
    </video> -->
  </div>

</div>
